.container {
  margin: 0 auto 30px auto;
  padding: 15px;
  max-width: 1200px;
  min-height: 500px;
  background-color: #fff;
}
nav {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #eee;
}
main {
  padding: 10px;
  min-height: 300px;
  border: 1px dashed darkmagenta;
}
