<div class="description">
  <h2>Liste détaillée</h2>
  <p>Test de programmation Angular 13.</p>
</div>
<div *ngFor="let x of dataList39">
  <p class="id01">{{ x.id }}</p>
  <div class="external-file">
    <div [innerHTML]="x.document39 | async"></div>
  </div>
</div>

<div class="description spacet01">
  <h3>liste-detaillee.component.html</h3>
  <iframe src="assets/code-preview/liste-detaillee/html.txt"></iframe>
  <h3>liste-detaillee.component.ts</h3>
  <iframe src="assets/code-preview/liste-detaillee/typescript.txt"></iframe>
  <h3>module01.service.ts</h3>
  <iframe src="assets/code-preview/module01/typescript.txt"></iframe>
</div>
